* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

header img {
    border-radius: 20%;
    width: 150px;
    height: auto;
    float: left;
    padding: 5px;
}

header div {
    text-align: center;
    padding: 40px;
}

header div span {
    color: wheat;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    font: 60px Arial, sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.meme {
    position: relative;
    text-align: center;
    width: 100%;
}

.top {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 7%;
    left: 0;
    width: 100%;
}

.meme h2 {
    color: white;
    font-size: 40px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.meme-form {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.meme-form button {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.meme-form button:hover {
    background-color: #6a0dad;
}

.meme-form input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
}
